<div class="container">

<h1> Who we are</h1>

<p>
Starters’ CFO is a professional firm that offers peer to peer solutions to a wide range of services, including – Accounting Services, Business Tax Planning Services and Business Financial Planning Services to Business Setup and Merger & Acquisition. Starters’ CFO is a leading professional consultancy firm rendering comprehensive professional services with the aim of providing a comprehensive range of accounting, financial and legal consulting, tax management, auditing and business process copy watches out-sourcing services,audit, management consultancy, tax consultancy, accounting services, manpower management, secretarial services financial accounting consultants, payroll management and other financial service. etc.

The organization is a congregation of professionally qualified and experienced persons who are committed to add value and optimize the benefits accruing to clients.
	
</p>

</div>
