<section >
 
  <div class="carousel slide" data-ride="carousel" id="myCarousel">

  <div class="carousel-inner">

  <!--  Indicater -->

  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target=#myCarousel>  </li>

    <li  data-slide-to="1" data-target=#myCarousel> <!-- <span id="butttonLeft"> <button class="btn  btn-lg btn-success" > Start a Business </button></span> --></li>

    <li  data-slide-to="2" data-target=#myCarousel>  <!-- <span id="buttonCenter"> <button class="btn  btn-lg btn-success" > LLP Registeration</button></span> --></li>

  </ol>

      <div class="item active" id = "slide1">
        
        <div class="carousel-caption">
         <h4> Start Your Business</h4>
          <h3> Start Your Business</h3>
        <h5> Start Your Business</h5>
         <h5> Start Your Business</h5>
        <p> Start yoy businness in just 6500 Rs  Hare krishna Hare krishna Krishna Krishna </p>
         <button type="button" class="btn btn-lg btn-danger">Start you Business</button>
          
        </div>
      </div>
      <div class="item" id = "slide2">
        
        <div class="carousel-caption">
        <div class="container">
      
        <h4> Company Registration</h4>
        <p> Get your venture off the ground without leaving home.</p>
         <button type="button" class="btn btn-lg btn-danger">Register</button>

         </div>
          
        </div>
      </div>
      <div class="item" id = "slide3">
        
        <div class="carousel-caption">

        <h4> Trade Mark Registration</h4>
        <p> Get your venture off the ground without leaving home.</p>

        <button type="button" class="btn btn-lg btn-danger">Register</button>
          
        </div>
      </div>

      <a class="left carousel-control" data-slide="prev" href="#myCarousel"> <span class="icon-prev "></span></a>
      <a class="right carousel-control" data-slide="prev" href="#myCarousel"> <span class="icon-next"></span></a>


  </div>
    
  </div>

 
</section>


   <section>
    
    <!-- <div>
     <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <a href="#"><img  class="d-block img-fluid" src="http://placekitten.com/1600/600"  /> </a>
          <div class="carousel-caption d-none d-md-block">
            <h3>Meow</h3>
            <button  class="btn btn-danger" type="button"> Start a Business </button>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <a href="#"><img class="d-block img-fluid" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption d-none d-md-block">
        <h1>Company Registration
        </h1>
        <h3>GET STARTED FOR JUST</h3>
        <p> Get your venture off the ground without leaving home.</p>
        <p>Easy monthly EMI options available

          </p>
         <button  class="btn btn-danger" type="button"> Start a Business </button>
      </div>
        </div>
        <div class="item">
          <a href="#"><img  class="d-block img-fluid" src="http://placekitten.com/1600/600" /></a>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
      </div>


      
    
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div> -->



  </section>

  <div class="android-be-together-section mdl-typography--text-center">
    <div class="logo-font android-slogan">be together. not the same.</div>
    <div class="logo-font android-sub-slogan">welcome to android... be yourself. do your thing. see what's going on.</div>
    <div class="logo-font android-create-character">
      <a href=""><img src="./assets/images/andy.png"> create your android character</a>
    </div>

    <a href="#screens">
      <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">expand_more</i>
      </button>
    </a>
  </div>



  <div class="android-screen-section mdl-typography--text-center">
    <a name="screens"></a>
    <div class="mdl-typography--display-1-color-contrast">Powering screens of all sizes</div>
    <div class="android-screens">
      <div class="android-wear android-screen">
        <a class="android-image-link" href="">
          <img class="android-screen-image" src="./assets/images/wear-silver-on.png">
          <img class="android-screen-image" src="./assets/images/wear-black-on.png">
        </a>
        <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
      </div>
      <div class="android-phone android-screen">
        <a class="android-image-link" href="">
          <img class="android-screen-image" src="./assets/images/nexus6-on.jpg">
        </a>
        <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
      </div>
      <div class="android-tablet android-screen">
        <a class="android-image-link" href="">
          <img class="android-screen-image" src="./assets/images/nexus9-on.jpg">
        </a>
        <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
      </div>
      <div class="android-tv android-screen">
        <a class="android-image-link" href="">
          <img class="android-screen-image" src="./assets/images/tv-on.jpg">
        </a>
        <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
      </div>
      <div class="android-auto android-screen">
        <a class="android-image-link" href="">
          <img class="android-screen-image" src="./assets/images/auto-on.jpg">
        </a>
        <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
      </div>
    </div>
  </div>
  <div class="android-wear-section">
    <div class="android-wear-band">
      <div class="android-wear-band-text">
        <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>
        <p class="mdl-typography--headline mdl-typography--font-thin">
          Android works perfectly with your favourite apps like Google Maps,
          Calendar and YouTube.
        </p>
        <p>
          <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
            See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
          </a>
        </p>
      </div>
    </div>
  </div>
